<h1>Password page</h1>

<form class="form" id="password-form" action="<?php echo $block->getFormAction(); ?>" data-mage-init='{"validation":{}}' method="post">
    <fieldset class="fieldset">
        <div class="field name required">
            <label class="label" for="email"><span>Email </span></label>
            <div class="control">
                <input data-validate='{"required":true, "email":true}' name="email" id="email" title="Email" value="" class="input-text" type="text" required />
            </div>
        </div>
        <div class="field name required">
            <label class="label" for="password"><span>Password </span></label>
            <div class="control">
                <input data-validate='{"required":true, "minlength":8}' name="password" id="password" title="Password" value="" class="input-text" type="password" required />
            </div>
        </div>
        <div class="field name required">
            <label class="label" for="confirm-password"><span>Confirm Password </span></label>
            <div class="control">
                <input data-validate='{"required":true, "minlength":8, "equalTo":"#password"}' name="confirm-password" id="confirm-password" title="Confirm Password" value="" class="input-text" type="password" required />
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" title="Submit" class="action submit primary">
                <span>Update Password</span>
            </button>
        </div>
    </div>
</form>